<div class="row" ng-init="initData()">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div show-search-criteria></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">

        <div
                class="row"
                ng-repeat="el in elements"
        >

            <div class="col-xs-12 col-sm-12 col-md-6" ng-init="basename[$index]=el.name">

                <span class="h4">[[ el.email ]]</span> <span style="font-size:0.9; font-weight:500; margin-left:20px">[[ el.name ]] [[ el.surname ]]</span>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-5">
                <member-news-letter-status status="el.newsletter" id="el.id"></member-news-letter-status>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-1">
                <button
                        type="button"
                        class="btn btn-danger"
                        ng-click="confirmRemove(deleteThisElement, el)"
                >
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>

            </div>

            <div class="col-xs-12 col-sm-12">
                <hr>
            </div>


        </div>
    </div>
</div>

<div show-pagination-route></div>

