/*.top_one {background-image:url(../images/15.jpg);*/
          /*background-repeat:no-repeat;*/
          /*-moz-background-size: 100%;*/
          /*-o-background-size: 100%;*/
          /*-webkit-background-size: 100%;*/
          /*background-size: 100%;*/
         /*background-position-y: -8%}*/

/*.background-container.menu-double-cols {*/
    /*!*background:transparent !important;*!*/
    /*height:100%;}*/

/*.background-container.menu-double-cols.siren {*/
     /*background-image:url(../images/16.png)  !important;*/
     /*background-repeat:no-repeat  !important;*/
     /*background-position-y: bottom !important;*/
    /*background-position-x: 6% !important;*/
    /*-moz-background-size: 37%  !important;*/
    /*-o-background-size: 37%  !important;*/
     /*-webkit-background-size: 37%  !important;*/
    /*background-size: 37%  !important}*/



/*.uns-section-right.col.duo {background-image:url(../images/duo.jpg)  !important;*/
    /*background-repeat:no-repeat  !important;*/
    /*background-position-x: right !important;*/
/*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*min-height:600px !important;*/
    /*overflow: hidden}*/

/*.uns-section-left.col.black-bg {*/
    /*height: 600px;*/
    /*max-height:600px;*/
/*}*/

/*.uns-section-left.col.rouge {*/
    /*background-color:#ff5b3b !important;*/
/*}*/

/*.rouge {*/
    /*background-color:#ff5b3b !important;*/
/*}*/

/*.noir {*/
    /*background-color:#000000 !important;*/
/*}*/

/*.pearl {*/
    /*background-color:#ff5b3b !important;*/
/*}*/

/*.mission {*/
    /*height: 600px;*/
    /*max-height:600px;*/
    /*overflow:hidden;*/
/*}*/

/*.row.karowa {background-image:url(../images/13.jpg);*/
    /*background-repeat:no-repeat;*/
    /*background-position-x: right;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*height:540px ;*/
    /*overflow: hidden}*/


/*.dsh-container.unstandard-view.team-view-show {*/
    /*background-image:url(../images/12.jpg) !important;*/
    /*background-repeat:no-repeat;*/
    /*-moz-background-size: 100%;*/
    /*-o-background-size: 100%;*/
    /*-webkit-background-size: 100%;*/
    /*background-size: 100%;}*/

/*.uns-section-empty.col.team {}*/

/*.uns-section-content.col.team {}*/

/*.team {height: 513px;*/
       /*max-height:513px;*/
       /*overflow:hidden;}*/

/*.table {display:table}*/
/*.table-row {display: table-row}*/
/*.table-cell {display: table-cell}*/

/*.first.team, .second.team {*/
    /*background-color:#ffffff;*/
    /*height:250px;*/
    /*padding: 30px 0 0 40px;*/
    /*margin-bottom: 48px;*/
/*}*/

/*.uns-half-content.first {*/

                        /*}*/
/*.uns-half-content.second {*/

                         /*}*/