<div class="row" ng-init="initData()">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div show-search-criteria></div>
        <hr>
        <div ngf-drop
        ng-model="files"
        ngf-drag-over-class="dragover"
        ngf-multiple="true"
        ngf-allow-dir="true"
        accept="*"
        class="drop-box">

        </div>


    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: [[ progress ]]%;">
            [[ progress ]]%
        </div>
    </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div
                class="row"
                ng-repeat="el in elements"
        >
            <hr>
            <div class="col-xs-12 col-ms-12 col-md-1">
                <img src="[[ el.params | getIcon ]]" class="img-responsive">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7">
                <a
                        href="#"
                        editable-text="el.title"
                        onbeforesave="checkPlace($data,$index)"
                        onaftersave="changePlace($data,el.id)"
                        e-label="">
                    <h5>[[ el.title || 'empty' ]]</h5>
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                [[ el.title ]].[[ el.suffix ]]

            </div>


        </div>

    </div>


</div>

<div show-pagination></div>